--- 
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SEO } from "astro-seo";
import dayjs from 'dayjs';
import '../assets/css/tailwind.css';
import { Image } from 'astro:assets';

const { frontmatter, slug } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SEO
			title={frontmatter.title + " &#8226; Lane Parton"}
			description={frontmatter.description}
			twitter={{
				creator: "@laneparton"
			}}
			openGraph={{
				basic: {
					title: frontmatter.title,
					type: "article",
					image: Astro.site?.origin + '/images/' + slug + '.png',
				},
				article: {
					authors: ["Lane Parton"],
					publishedTime: frontmatter.published
				}
			}}
			extend={{
				link: [{ rel: "icon", href: "/favicon.ico" }],
				meta: [
					{ name: "twitter:title", content: frontmatter.title },
					{ name: "twitter:description", content: frontmatter.description },
					{
						name: "twitter:image",
						content: Astro.site?.origin + '/images/' + slug + '.png',
					},
					{ name: "author", content: "Lane Parton" },
				],
			}}
		/>
	</head>
	<body>
		<Header />
        <main class="min-h-screen container">
            <article class="mt-36 mb-24 mx-auto px-8 md:px-0 prose prose-invert">
				{frontmatter.hero && (
					<Image
						class="w-full h-72 object-cover mb-12 rounded-lg"
						src={frontmatter.hero}
						alt={frontmatter.title}
						width={700}
						height={300}
					/>
				)}
				<h1 class="text-3xl mb-0">
				  { frontmatter.title }
				</h1>
				<div class="mt-4 text-lg">
				  Published: <time datetime={frontmatter.published}>{ dayjs(frontmatter.published).format("MMMM D, YYYY") }</time>
				</div>
				<div class="mt-4 text-base">
					<slot />
				</div>
            </article>
        </main>
		<Footer />
	</body>
</html>

<style is:global>

.astro-code::-webkit-scrollbar {
  background-color: #24292e;
  height: 12px;
}
.astro-code::-webkit-scrollbar-thumb {
	background-color: #3a434d;
	border-radius: 12px;
}
</style>